.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  width: 90px;
  height: 90px;
  color: black;
  border-color: black;
}
.label {
  font-size: 25px;
  margin-bottom: 5px;
}
.percentage {
  font-size: 30px;
}

.mp3 {
  background-color: rgb(252, 82, 60);
}
.pdf {
  background-color: rgb(214, 106, 214);
}
.docx {
  background-color: rgb(73, 188, 241);
}
.psd {
  background-color: rgb(35, 168, 35);
}
